  .holder {
    border: solid black;
    height: 200px;
    width: 14%;
    padding: 5px;
    overflow: hidden;
  }
  .bar {
    background: blue;
    height: 2px;
    width: "";
    position: relative;
    left: 1000px;
    top: "";
    -webkit-animation: pulse 3s infinite;
  }
  @-webkit-keyframes pulse {
    from {width: 1%;}
    to {width: 100%;}
  }
  .AwakeButton {
    width: 60px;
    height: 60px;
    background: red;
    margin-top: 5px;
    margin-left: 5px;
  }